@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: #2980b9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    background: #2980b9;
    margin: auto;
}

nav .navbar .logo a{
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}

nav .navbar .menu{
    display: flex;
}

.navbar .menu li{
    list-style: none;
    margin: 0 15px;
}

.navbar .menu li a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #96c7e8;
    flex-direction: column;
}

#Home{
    background: url(images/home-background.jpeg);
    background-size: 1800px;
}

.Home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Home p {
    font-size: 1em;
}

#Bio{
    background: #f2f2f2;
    display: inline-block;
}

#Bio .column img {
    width: 450px;
    height: 600px;
    float: left;
    margin-right: 20px;
}

#Resume{
    background: #e6e6e6;
}

.bordered-box {
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

#Projects{
    background: #f2f2f2;
}

.button a{
    display: inline-block;
    color: #fff;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
}

.slider {
    width: 500px;
    height: 300px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }

.image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide-1:target ~ .image-container {
    left: 0px;
}

#slide-2:target ~ .image-container {
    left: -500px;
}

#slide-3:target ~ .image-container {
    left: -1000px;
}

.buttons {
    position: relative;
    top: -20px;
}

.buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
}

@media (max-width: 900px) {
    .menu {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 1em;
    }

    #Bio .column {
        flex-direction: column;
    }

    #Bio .column .img {
        margin: 2em auto;
        width: 50%;
    }
}



